.login_main {
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login_container {
    width: 48rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.login_heading {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
}
.login_form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    border-radius: .6rem;
    box-shadow: .2rem .6rem 2.4rem rgba(0, 0, 0, .06);
    background-color: #ffffff;
    border: 1.2px solid #eee;
}
.form__item {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: 100%;
    margin: .24rem 0;
}
.form__label {
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
}
.form--input-box {
    position: relative;
    width: 100%;
}
.form__input {
    font-weight: 500;
    font-family: inherit;
    padding: 1.2rem;
    border-radius: .4rem;
    color: #333;
    border: 1.2px solid #ccc;
    transition: all .35s;
    outline-color: transparent;
    width: 100%;
}
.form__input:focus {
    outline-color: #eee;
}
.form__input::placeholder {
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 500;
}
.form__submit {
    padding: 1.2rem 1.4rem;
    border: none;
    font-weight: 600;
    font-size: 1.68rem;
    color: #fff;
    background-color: yellowgreen;
    border-radius: .4rem;
}
.form--input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: 1rem;
    cursor: pointer;
}
.form--input-icon svg {
    font-size: 1.6rem;
    color: #555;
}